@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Lato:wght@300;400&display=swap');

body{
    background-color: antiquewhite;
    font-family: 'Lato', sans-serif;
}

#cityName{
border: solid 2px black;
border-radius: 10px;
padding: 5px;
background-color: rgb(249, 201, 118);
}

.navbar-custom {
    background-color: lightgreen;
}

#weatherTitle{
    border: solid 2px black;
    padding: 10px;
    background-color: rgb(230, 152, 50);
}

.pictureHeight{
    height: 250px;
    width: auto;
}

#Humiditypic{
    margin-top: 25px;
    height: 225px;
}
